[submodule "beeper_bridge-manager"]
	path = beeper_bridge-manager
	url = https://github.com/beeper/bridge-manager.git
[submodule "matterbridge"]
	path = matterbridge
	url = https://github.com/42wim/matterbridge.git
